body{
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff); color: #666666; font-family:Arial; background-attachment: fixed;
}
header{
    background-color: #003058; color: #FFFFFF; font-family:Georgia;
}
header h1{
    line-height:140%; margin-bottom: 0; padding-left: 1em; background-image: url("utahtechlogo.svg"); background-position: right; background-repeat: no-repeat;
}
nav{
    font-weight: bold; background-color: #F3F3F3; padding-top: .5rem; padding-right: .5rem; padding-bottom: .5rem; padding-left: 2rem;
}
h2{
    color: #424242; font-family:Georgia;
}
dt{
    color: #003058; font-weight: bold;
}
.ut{
    color: #BA1C21; font-weight: bold;
}
footer{
    font-size: .70rem; font-style: italic; text-align: center; padding: 1rem;
}
#wrapper{
    background-color:#ffffff; width: 80%; margin-right: auto; margin-left: auto;
}
h3{
    color: #003058;
}
main{
    padding-left: 2rem; padding-right: 2rem;
}
#homehero{
    background-image: url("homehero.jpg"); height: 300px; background-size: cover; background-repeat: no-repeat; background-position: center;
}
#studenthero{
    height: 300px; background-image: url("studenthero.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center;
}
#facultyhero{
    height: 300px; background-image: url("facultyhero.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center;
}
nav a{
    text-decoration: none;
}